@model MvcApplication1.Models.HospitalImagesModels

@{
    ViewBag.Title = "详情";
}

<h2>详情</h2>

<fieldset>
    <legend>医院图片信息管理</legend>

    <div class="display-label">标题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">说明</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Illustrate)
    </div>

    <div class="display-label">路径</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.ImageID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
